a {
	color: green;
}

.text {
	color: rgb(212, 182, 7);
}

/* selektor po ID */
#blue {
	color: blue;
}

div.text {
	color: rgb(7, 223, 79);
}

.lesson.text {
	color: rgb(7, 212, 212);
}

div#red {
	color: red;
}

.text#red {
	color: rgb(255, 0, 255);
}

.list {
	color: black;
}

div#blok {
	color: rgb(136, 6, 6);
}